@{
    ViewBag.Title = "Upute";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Unos novog studenta</h3><br/>
<p>Kako biste unjeli podatke o novom studentu, sljedite navedene korake:<br/>
    <ol>
        <li>
            Pristupite obrascu za unos klikom na poveznicu "Erasmus" u zaglavlju aplikacije, i onda klikom na tipku "Unesi" pri dnu prozora.
        </li>
        <li>
            Unesite podatke prateći obrazac, sva polja su obavezna.
        </li>
        <li>
            Polja s kvadratićima omogućavaju označavanje više izbora, dok kružići dopuštaju samo jedan izbor.
        </li>
        <li>
            Na kraju obrasca unesite fotografiju studenta.
        </li>
        <li>
            Klikom na tipku "Unesi" pohranite podatke o studentu.
        </li>
    </ol>
    
    </p>
<br/>
<h3>
    Pregled podataka o studentima
</h3><br/>
<p>Kako biste pregledali i pretraživali postojeće studente, pratite sljedeće korake:
    <ol>
        <li>
            Klikom na poveznicu "Studenti" u zaglavlju aplikacije ili povratkom na naslovnu stranicu, klikom na poveznicu "Erasmus"
            pa na tipku "Pregledaj" pri dnu prozora, pristupite popisu studenata.
        </li>
        <li>
            Vidjet ćete skraćen pregled podataka o pojedinom studentu.
        </li>
        <li>
            U tom prozoru možete pretražiti studente prema imenu i/ili njihovom studijskom programu; preddiplomskom ili diplomskom.
        </li>
        <li>
            Kada pronađete određenog studenta, možete pristupiti cijelom prijepisu njegovih podataka klikom na poveznicu "Detalji" na desnom kraju podataka o studentu.
        </li>
        <li>
            U detaljnom prikazu podataka o studentu vidjet ćete podatke unesene preko prijavnog obrasca, a na dnu prozora i
            kolegije koje pohađa i nositelje tih kolegija.
        </li>
    </ol>
</p>
<br/>
<h3>Uređivanje i brisanje studenata</h3>
<br/>
<p>Kako biste uredili podatke o pojedinom studentu, sljedite navedene korake:<br/>
     <ol>
         <li>
             Klikom na poveznicu "Studenti" u zaglavlju aplikacije ili povratkom na naslovnu stranicu, klikom na poveznicu "Erasmus"
             pa na tipku "Pregledaj" pri dnu prozora, pristupite popisu studenata.
         </li>
         <li>
             Nakon što pronađete željenog studenta, klikom na poveznicu "Uredi" na desnom kraju podataka o studentu pristupit ćete 
             istom obrascu koji ste vidjeli prilikom prvotnog unosa studenta i u njemu ćete isto tako moži izmijeniti sve podatke.
         </li>
         <li>
             Nakon što ste izmijenili podatke, pohranite promjene klikom na tipku "Spremi promjene" na dnu prozora.
         </li>
     </ol>
    </p>
<h3>Brisanje studenta</h3>
<br/>
<p>
    Kako biste obrisali pojedinog studenta s popisa, sljedite navedene korake:<br/>
    <ol>
        <li>
            Klikom na poveznicu "Studenti" u zaglavlju aplikacije ili povratkom na naslovnu stranicu, klikom na poveznicu "Erasmus"
            pa na tipku "Pregledaj" pri dnu prozora, pristupite popisu studenata.
        </li>
        <li>
            Nakon pronalaska željenog studenta, klikom na poveznicu "Brisanje" na desnom kraju podataka o studentu pristupite
            obrascu za brisanje.
        </li>
        <li>
            Nakon pregleda podataka, potvrdite da iste želite obrisati klikom na tipku "Obriši" na dnu prozora
        </li>
    </ol>
</p>
